{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>Lotto Estrella</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/datepicker3.css' %}" rel="stylesheet">
  <link href="{% static 'css/daterangepicker.css' %}" rel="stylesheet">
  <link href="{% static 'css/select2.min.css' %}" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
  <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap3-wysihtml5.min.css' %}" rel="stylesheet">
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="fa fa-bar"></span> </a><a class="brand" href="index.html">Lotto Estrella</a>
        <div class="nav-collapse">
          <ul class="nav pull-right">
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="fa fa-envelope"></i> Mensajeria <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'new_msg' %}">Nuevo</a></li>
                <li><a href="{% url 'inbox' %}">Inbox</a></li>
                <li><a href="{% url 'send_msg' %}">Enviados</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="fa fa-user"></i> Carlos <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'ajustes' %}">Ajustes</a></li>
                <li><a href="{% url 'logout' %}">Salir</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="subnavbar">
    <div class="subnavbar-inner">
      <div class="container">
        <ul class="mainnav">
          <li id="panel" class="cls"><a href="{% url 'panel' %}"><i class="fa fa-dashboard"></i><span>Panel</span> </a> </li>
          <li id="tree"><a href="{% url 'tree' %}"><i class="fa fa-sitemap"></i><span>Control de Usuarios</span> </a> </li>
          <li id="sucursales"><a href="{% url 'sucursales' %}"><i class="fa fa-vcard"></i><span>Sucursales</span> </a></li>
          <li id="gestor"><a href="{% url 'gestor' %}"><i class="fa fa-support"></i><span>Gestor</span> </a></li>
          <li id="taquilla"><a href="{% url 'taquilla' %}"><i class="fa fa-university"></i><span>Taquilla</span> </a></li>
          <!--<li id="config"><a href="{% url 'panel' %}"><i class="fa fa-gears"></i><span>Configuraciones</span> </a> </li>-->
          <li id="resultados"><a href="{% url 'resultados' %}"><i class="fa fa-bar-chart"></i><span>Resultados</span> </a> </li>
          <li id="reportes"><a href="{% url 'reportes' %}"><i class="fa fa-list-alt"></i><span>Reportes</span> </a> </li>
          <li id="ticket"><a href="{% url 'consulta_ticket' %}"><i class="fa fa-file-text-o"></i><span>Ticket</span> </a> </li>
        </ul>
      </div>
    </div>
  </div>
  {% block content %} {% endblock %}
  <div class="footer">
    <div class="footer-inner ">
      <div class="container ">
        <div class="pull-right ">Version: Beta</div>
        <div class="col-md-6 "> &copy; 2013 <a href="# ">Lotto Estrella</a>. Todos los derechos reservados</div>
      </div>
    </div>
  </div>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.es.min.js' %}"></script>
  <script src="{% static 'js/moment.js' %}"></script>
  <script src="{% static 'js/daterangepicker.js' %}"></script>
  <script src="{% static 'js/select2.full.js' %}"></script>
  <script src="{% static 'js/base.js' %} "></script>
  <script src="{% static 'js/bootstrap3-wysihtml5.all.js' %} "></script>
  {% block extra_js %} {% endblock %}
</body>

</html>
