{% load static from staticfiles %}{% load i18n %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>Entrar</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet" type="text/css" />

  <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">

  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/signin.css' %}" rel="stylesheet" type="text/css">

</head>

<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
        <a class="brand" href="index.html">Lotto Estrella</a>
        <div class="nav-collapse">
          <ul class="nav pull-right">
            <li class="">
              <a href="signup.html" class="">¿No tienes cuenta?</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="account-container">
    <div class="content clearfix">
      <form method="post">
        {% csrf_token %}
        <h1>Inicio de sesión</h1>
        <div class="login-fields">
          <p>Introduce tus datos:</p>
          <div class="field">
            <input type="text" id="username" name="username" value="" placeholder="Username" />
          </div>
          <div class="field">
            <input type="password" id="password" name="password" value="" placeholder="Password" />
          </div>
        </div>
        <div class="login-actions">
          <button class="button btn btn-success btn-large">Entrar</button>
        </div>
      </form>
    </div>
  </div>

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
