<div class="span3">
  <div class="widget ">
    <div class="widget-header">
      <h3><i class="fa fa-fw fa-list"></i>Mensajeria</h3>
    </div>
    <div class="widget-content">
      <ul class="nav nav-pills nav-stacked">
        <li id="inbox"><a href="{% url 'inbox' %}"><i class="fa fa-inbox"></i> Inbox</a></li>
        <li id="new"><a href="{% url 'new_msg' %}"><i class="fa fa-envelope-o"></i> Nuevo</a></li>
        <li id="send"><a href="{% url 'send_msg' %}"><i class="fa fa-file-text-o"></i> Envidos</a></li>
      </ul>
    </div>
  </div>
</div>
