{% extends 'admin_template.html' %} {% load static from staticfiles %} {% block content %}
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        {% include 'menu_msg.html' %}
        <div class="span9">
          <div class="widget ">
            <div class="widget-header ">
              <h3><i class="fa fa-fw fa-inbox"></i>Inbox</h3>
            </div>
            <div class="widget-content ">
              <table class="varias table table-hover table-striped">
                <tbody>
                  <tr>
                    <td><i class="fa fa-fw fa-envelope"></i></td>
                    <td class="bold">De: <a href="{% url 'read_msg' %}">Mario Pajaro</a></td>
                    <td class="bold">Importante, creditos pendientes</td>
                    <td>Hace 5 mins</td>
                    <td><button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Marcar como leido">
                      <i class="fa fa-check bold-green"></i></button></td>
                    <td><button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Borrar">
                      <i class="fa fa-trash-o bold-rosa"></i></button></td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-fw fa-envelope-open-o"></i></td>
                    <td class="">De: <a href="{% url 'read_msg' %}">Carlos Velazquez</a></td>
                    <td class="">Verificar ip de servidor</td>
                    <td>Hace 5 mins</td>
                    <td><button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Marcar como leido">
                      <i class="fa fa-check bold-green"></i></button></td>
                    <td><button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Borrar">
                      <i class="fa fa-trash-o bold-rosa"></i></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /main -->
{% endblock %} {% block extra_js %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#inbox').addClass('active');
  });
</script>
{% endblock %}
