{% extends 'admin_template.html' %} {% load static from staticfiles %} {% block content %}
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        {% include 'menu_msg.html' %}
        <div class="span9">
          <div class="widget ">
            <div class="widget-header ">
              <h3><i class="fa fa-fw fa-envelope"></i>Enviar nuevo mensaje</h3>
            </div>
            <div class="widget-content ">


              <!-- /.box-header -->
              <form>
                <div class="control-group ">
                  <div class="controls ">
                    <select class="form-control select2 completo">
                    <option selected="selected ">Para:</option>
                    <option>Usuarios</option>
                    <option>Usuarios</option>
                    <option>Usuarios</option>
                  </select>
                  </div>
                </div>
                <div class="form-group">
                  <input class="form-control completo input-lg" placeholder="Asunto:">
                </div>
                <div class="form-group">
                  <textarea id="compose-textarea" class="form-control completo" style="height: 300px">

                  </textarea>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                  <div class="pull-right">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Enviar</button>
                    <button type="reset" class="btn btn-danger"><i class="fa fa-pencil"></i> Borrar</button>
                  </div>
                </div>
              </form>
              <!-- /.box-footer -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /main -->
{% endblock %} {% block extra_js %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#new').addClass('active');
  });
</script>
{% endblock %}
