body{ color:#838383; font: 13px/1.7em 'Open Sans';}

.account-container {
	width: 380px;
	display: block;
	margin: 60px auto 0 auto;
	background: #f9f9f9;
	border: 1px solid #d5d5d5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	box-shadow:  0px 0px 2px #dadada, inset 0px -3px 0px #e6e6e6;
}

.content {
	padding: 16px 28px 23px;
}


.login-fields .field {
	margin-bottom: 1.25em;
}

.login-fields label {
	display: none;
}

.login-fields input {
	font-family: 'Open Sans';
	font-size: 13px;
	color: #8e8d8d;
	padding: 10px;
	background-color: #fdfdfd;
	width: 90%;
	display: block;
	margin: 0;
	box-shadow: inset 2px 2px 4px #f1f1f1;
}

.login-extra {
	display: block;
	width: 300px;
	margin: 1.5em auto;

	text-align: left;
	line-height: 19px;

	text-shadow: 1px 1px 0px #fff;
}

.account-container h1 {
	margin-bottom: .4em;

	color: #525252;
}

.button {-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; display: inline-block; float: right; margin-top: 18px;}

@media (max-width: 480px) {

	.account-container {
		width: 280px;
		margin-top: 35px;
	}

	.login-fields input {
		width: 160px;
	}

	.login-social {
		width: 100%;
	}

	.twitter {
		display: block;
		margin-bottom: 1em;
	}

	.register .login-fields input {
		width: 204px;
		padding-left: 6px;
	}

}
