{% extends 'admin_template.html' %} {% load static from staticfiles %} {% block content %}
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span6">
          <div class="widget ">
            <div class="widget-header">
              <h3><i class="fa fa-fw fa-bar-chart"></i>Registrar resultados según sorteo</h3>
            </div>
            <div class="widget-content">
              <div class="registrar-resultados">
                <form class="form-horizontal">
                  <fieldset>
                    <div class="control-group">
                      <label class="control-label" for="">Sorteo</label>
                      <div class="controls">
                        <select class="form-control span4">
                          <<option value="">----</option>
                          <option>Sorteo 1</option>
                          <option>Sorteo 2</option>
                          <option>Sorteo 3</option>
                          <option>Sorteo 4</option>
                          <option>Sorteo 5</option>
                          <option>Sorteo 6</option>
                          <option>Sorteo 7</option>
                          <option>Sorteo 8</option>
                        </select>
                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label" for="">Resultado</label>
                      <div class="controls">
                        <select class="form-control span4">
                          <<option value="">----</option>
                          <option value="1">Los 38 Animales o Resultados disponibles</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-actions">
                      <button type="submit" class="btn btn-primary">Registrar</button>
                      <button type="reset" class="btn btn-danger">Borrar</button>
                    </div>
                  </fieldset>
                </form>

              </div>
              <!-- /shortcuts -->
            </div>
            <!-- /widget-content -->
          </div>
        </div>
        <div class="span6 ">
          <div class="widget widget-table action-table ">
            <div class="widget-header ">
              <h3><i class="fa fa-th-list fa-fw "></i> Sorteos del dia</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content log ">
              <table class="table table-striped table-bordered ">
                <thead>
                  <tr>
                    <th class="td-action">Sorteo</th>
                    <th>Hora</th>
                    <th>Sorteo</th>
                    <th>Resultado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>10:30 am</td>
                    <td class="bold ">#123454</td>
                    <td class="bold-rosa">Perro - 27</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>11:30 am</td>
                    <td class="bold ">#123454</td>
                    <td class="bold-rosa">Gallo - 33</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>12:30 am</td>
                    <td class="bold ">#123454</td>
                    <td class="bold-rosa">Caiman - 00</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>1:30 am</td>
                    <td class="bold ">#123454</td>
                    <td class="bold-rosa">Gato - 01</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>4:30 am</td>
                    <td class="bold">#123454</td>
                    <td class="bold-rosa">Galliina - 17</td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>5:30 am</td>
                    <td class="bold ">#123454</td>
                    <td class="bold-rosa">Araña - 36</td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td>6:30 am</td>
                    <td class="bold ">#123454</td>
                    <td class="bold-rosa">Caballo - 23</td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>7:30 am</td>
                    <td class="bold ">#123454</td>
                    <td class="bold-rosa">Raton - 47</td>
                  </tr>


                </tbody>
              </table>
            </div>
            <!-- /widget-content -->
          </div>
          <!-- /widget -->

          <!-- /widget -->
        </div>
        <div class="span12">
          <div class="widget ">
            <div class="widget-header">
              <h3><i class="fa fa-fw fa-bar-chart"></i>Consulta de Resultados</h3>
            </div>
            <div class="widget-content">
              <form id="consulta-resultados" class="form-horizontal">
                <fieldset>
                  <div class="control-group center date">
                    <div class="">
                      <input type="text" class="form-control input-lg span6" id="datepicker">
                      <button type="submit" class="btn btn-large btn-success">Consultar</button>
                    </div>
                  </div>
                </fieldset>
              </form>
              <hr>
              <div class="resultado_busqueda">
                <h3>Resultados del dia: FECHA_CONSULTADA</h3>
                <table class="table table-striped table-bordered ">
                  <thead>
                    <tr>
                      <th class="td-action">Sorteo</th>
                      <th>Hora</th>
                      <th>Sorteo</th>
                      <th>Resultado</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>10:30 am</td>
                      <td class="bold ">#123454</td>
                      <td class="bold-rosa">Perro - 27</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>11:30 am</td>
                      <td class="bold ">#123454</td>
                      <td class="bold-rosa">Gallo - 33</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>12:30 am</td>
                      <td class="bold ">#123454</td>
                      <td class="bold-rosa">Caiman - 00</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>1:30 am</td>
                      <td class="bold ">#123454</td>
                      <td class="bold-rosa">Gato - 01</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>4:30 am</td>
                      <td class="bold">#123454</td>
                      <td class="bold-rosa">Galliina - 17</td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td>5:30 am</td>
                      <td class="bold ">#123454</td>
                      <td class="bold-rosa">Araña - 36</td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td>6:30 am</td>
                      <td class="bold ">#123454</td>
                      <td class="bold-rosa">Caballo - 23</td>
                    </tr>
                    <tr>
                      <td>8</td>
                      <td>7:30 am</td>
                      <td class="bold ">#123454</td>
                      <td class="bold-rosa">Raton - 47</td>
                    </tr>


                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /main -->
{% endblock %} {% block extra_js %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#resultados').addClass('active');
  });
  $('#datepicker').datepicker({
    language: "es",
    autoclose: true,
    todayHighlight: true,
    daysOfWeekDisabled: "0",
  });
</script>
{% endblock %}
