{% extends 'admin_template.html' %} {% load static from staticfiles %} {% block content %}
<div class="main">
  <div class="main-inner">
    <div class="container-fluid">
      <div class="row">
        <div class="span3">
          <div class="widget ">
            <div class="widget-header">
              <h3><i class="fa fa-fw fa-cogs"></i>Opciones de busqueda</h3>
            </div>
            <div class="widget-content">
              <form class="form">
                <fieldset>
                  <div class="control-group">
                    <div class="controls">
                      <div class="input-group">
                        <span class="input-group-addon">
                        <input type="radio" id="tipo_usuario" name="tipo_usuario">
                      </span> Taquillas
                      </div>
                    </div>
                    <div class="controls">
                      <div class="input-group">
                        <span class="input-group-addon">
                        <input type="radio" id="tipo_usuario" name="tipo_usuario">
                      </span> Sucursales
                      </div>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls ">
                      <button type="button" class="btn btn-primary" id="daterange-btn"><span><i class="fa fa-calendar "></i> Rango De Fecha</span><i class="fa fa-caret-down "></i></button>
                    </div>
                  </div>
                  <div class="control-group ">
                    <div class="controls ">
                      <select class="form-control select2" style="width: 100%; ">
                      <option selected="selected ">--usuario--</option>
                      <option>taquillas</option>
                      <option>taquillas</option>
                      <option>taquillas</option>
                      <option>taquillas</option>
                    </select>
                    </div>
                  </div>
                  <div class="control-group ">
                    <div class="controls ">
                      <select class="form-control select2" style="width: 100%; ">
                      <option selected="selected ">--Estatus--</option>
                      <option>Perdidos</option>
                      <option>Ganadores</option>
                      <option>Anulados</option>
                      <option>Aplazados</option>
                    </select>
                    </div>
                  </div>
                  <div class="form-actions center">
                    <button type="submit " class="btn btn-large btn-success ">Consultar</button>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <div class="span10 ">
          <div class="widget ">
            <div class="widget-header ">
              <h3><i class="fa fa-fw fa-list-alt "></i>Resultados de busqueda - Ticket</h3>
            </div>
            <div class="widget-content ">
              <table class="varias table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>IDs</th>
                    <th>Usuario</th>
                    <th>Ticket</th>
                    <th>Descripcion</th>
                    <th>Estatus</th>
                    <th>Apuesta</th>
                    <th>Ganar</th>
                  </tr>
                </thead>
                <tbody class="center">
                  <tr>
                    <td>12</td>
                    <td class="bold">Carlos</td>
                    <td>345676</td>
                    <td class="bold-rosa">Perro-27, Gallo-32, Mono-14, Caiman, 12</td>
                    <td><span class="label label-warning">Perdido</span></td>
                    <td class="bold">400,00</td>
                    <td class="bold-blue">3.000,00</td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td class="bold">Carlos</td>
                    <td>345676</td>
                    <td class="bold-rosa">Perro-27, Gallo-32, Mono-14, Caiman, 12</td>
                    <td><span class="label label-success">Ganador</span></td>
                    <td class="bold">400,00</td>
                    <td class="bold-blue">3.000,00</td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td class="bold">Carlos</td>
                    <td>345676</td>
                    <td class="bold-rosa">Perro-27, Gallo-32, Mono-14, Caiman, 12</td>
                    <td><span class="label label-default">Anulado</span></td>
                    <td class="bold">400,00</td>
                    <td class="bold-blue">3.000,00</td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td class="bold">Carlos</td>
                    <td>345676</td>
                    <td class="bold-rosa">Perro-27, Gallo-32, Mono-14, Caiman, 12</td>
                    <td><span class="label label-info">Pendiente</span></td>
                    <td class="bold">400,00</td>
                    <td class="bold-blue">3.000,00</td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td class="bold">Carlos</td>
                    <td>345676</td>
                    <td class="bold-rosa">Perro-27, Gallo-32, Mono-14, Caiman, 12</td>
                    <td><span class="label label-default">Aplazado</span></td>
                    <td class="bold">400,00</td>
                    <td class="bold-blue">3.000,00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /main -->
{% endblock %} {% block extra_js %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#ticket').addClass('active');
  });
</script>
{% endblock %}
