{% extends 'admin_template.html' %} {% load static from staticfiles %} {% block content %}
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="widget ">
            <div class="widget-header">
              <h3><i class="fa fa-fw fa-university"></i>Nueva Taquilla</h3>
            </div>
            <div class="widget-content">
              <div class="">
                <form id="crear_sucursal" class="form-horizontal">
                  <fieldset>
                    <p class="alert alert-info center"><i class="fa fa-fw fa-warning"></i>Campos requeridos <b>(*)</b></p>
                    <div class="control-group">
                      <label class="control-label">Nombre de usuario *</label>
                      <div class="controls">
                        <input type="text" class="input-lg span8" required>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="password2">Clave Secreta *</label>
                      <div class="controls form-control">
                        <input type="password" class="input-lg span8" required>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Moneda</label>
                      <div class="controls form-control">
                        <input type="text" disabled class="input-lg span8" value="MONEDA">
                      </div>
                    </div>
                    <br>
                    <h3 class="center">Configuraciones de taquilla</h3>
                    <hr>
                    <div class="control-group">
                      <label class="control-label" for="password2">Limites de Apuesta por apuesta *</label>
                      <div class="controls form-control">
                        <input type="number" class="input-lg span4" placeholder="Apuesta Minima por apuesta (MIN)" required>
                        <input type="number" class="input-lg span4" placeholder="Apuesta Maxima por apuesta (MAX)" required>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="password2">Limites de Apuesta por tipo *</label>
                      <div class="controls form-control">
                        <p class="help-block">¿Cuantos animales del mismo tipo se permitiran por sorteo?</p>
                        <input type="number" class="input-lg span8" required>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="password2">Limites de Apuesta permitidas *</label>
                      <div class="controls form-control">
                        <p class="help-block">¿Cual sera el limite de apuesta permitidas por sorteo? <b>(Ticket generados)</b></p>
                        <input type="number" class="input-lg span8" required>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="password2">Limites de dinero *</label>
                      <div class="controls form-control">
                        <p class="help-block">¿Cual sera el limite de dinero a pagar por sorteo?</p>
                        <input type="number" class="input-lg span8" required>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">¿Esta Seguro? *</label>
                      <div class="controls">
                        <input type="checkbox" required>
                      </div>
                    </div>
                    <!-- /control-group -->
                    <div class="form-actions">
                      <button type="submit" class="btn btn-primary">Crear</button>
                      <button type="reset" class="btn btn-danger">Borrar</button>
                    </div>
                    <!-- /form-actions -->
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /main -->
{% endblock %} {% block extra_js %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#taquilla').addClass('active');
  });
</script>
{% endblock %}
