{% extends 'admin_template.html' %} {% load static from staticfiles %} {% block content %}
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="widget ">
            <div class="widget-header">
              <h3><i class="fa fa-fw fa-vcard"></i>Nueva Sucursal</h3>
            </div>
            <div class="widget-content">
              <form id="crear_sucursal" class="form-horizontal">
                <fieldset>
                  <p class="alert alert-info center"><i class="fa fa-fw fa-warning"></i>Campos requeridos <b>(*)</b></p>
                  <div class="control-group">
                    <label class="control-label">Nombre de usuario *</label>
                    <div class="controls">
                      <input type="text" class="input-lg span8">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="password2">Clave Secreta *</label>
                    <div class="controls form-control">
                      <input type="password" class="input-lg span8">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Moneda *</label>
                    <div class="controls">
                      <select class="form-control span8 select-lg">
                        <<option value="">----</option>
                        <option>Bolivares (VEF)</option>
                      </select>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">¿Creara Sucursales? *</label>
                    <div class="controls">
                      <select class="form-control span8 select-lg">
                        <<option value="">----</option>
                        <option>SI</option>
                        <option>NO</option>
                      </select>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">¿Creara Taquillas? *</label>
                    <div class="controls">
                      <select class="form-control span8 select-lg">
                        <<option value="">----</option>
                        <option>SI</option>
                        <option>NO</option>
                      </select>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">¿Esta Seguro? *</label>
                    <div class="controls">
                      <input type="checkbox" required>

                    </div>
                  </div>
                  <!-- /control-group -->
                  <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Crear</button>
                    <button type="reset" class="btn btn-danger">Borrar</button>
                  </div>
                  <!-- /form-actions -->
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /main -->
{% endblock %} {% block extra_js %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#sucursales').addClass('active');
  });
</script>
{% endblock %}
