{% extends 'admin_template.html' %} {% load static from staticfiles %} {% block content %}
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="widget ">
            <div class="widget-header">
              <h3><i class="fa fa-fw fa-sitemap"></i>Control de Usuarios</h3>
            </div>
            <div class="widget-content">
              <div class="tabbable">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a href="#suc" data-toggle="tab">Sucursales</a>
                  </li>
                  <li><a href="#taq" data-toggle="tab">Taquillas</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="suc">
                    <table class="varias table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>IDs</th>
                          <th>Usuario</th>
                          <th>Creador</th>
                          <th>Jefe de Herencia</th>
                          <th>Ultimo inicio</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody class="center">

                        <tr>
                          <td>12</td>
                          <td class="bold-blue">Carlos</td>
                          <td class="bold">Jefe_Directo </td>
                          <td class="bold">jefe_De_Herencia </td>
                          <td>Nunca</td>
                          <td>
                            <a href="/reset_user_password/{{ jugador.user.id }}/" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Restablecer Contraseña"><i class="fa fa-fw fa-key"></i></a>
                            <a href="/banear_user/{{ jugador.user.id }}" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="top" title="Banear Usuario"><i class="fa fa-fw fa-ban"></i></a>
                          </td>
                        </tr>
                        <tr>
                          <td>12</td>
                          <td class="bold-blue">Carlos</td>
                          <td class="bold">Jefe_Directo </td>
                          <td class="bold">jefe_De_Herencia </td>
                          <td>Nunca</td>
                          <td>
                            <a href="/reset_user_password/{{ jugador.user.id }}/" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Restablecer Contraseña"><i class="fa fa-fw fa-key"></i></a>
                            <a href="/banear_user/{{ jugador.user.id }}" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="top" title="Banear Usuario"><i class="fa fa-fw fa-ban"></i></a>
                          </td>
                        </tr>
                        <tr>
                          <td>12</td>
                          <td class="bold-blue">Carlos</td>
                          <td class="bold">Jefe_Directo </td>
                          <td class="bold">jefe_De_Herencia </td>
                          <td>Nunca</td>
                          <td>
                            <a href="/reset_user_password/{{ jugador.user.id }}/" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Restablecer Contraseña"><i class="fa fa-fw fa-key"></i></a>
                            <a href="/banear_user/{{ jugador.user.id }}" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="top" title="Banear Usuario"><i class="fa fa-fw fa-ban"></i></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="tab-pane" id="taq">
                    <table class="varias table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>IDs</th>
                          <th>Usuario</th>
                          <th>Sucursal Creador</th>
                          <th>Jefe de Herencia</th>
                          <th>Limite de Apuestas</th>
                          <th>Ultimo inicio</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody class="center">

                        <tr>
                          <td>12</td>
                          <td class="bold-blue">Carlos</td>
                          <td class="bold">Sucursal_creador </td>
                          <td class="bold">jefe_De_Herencia </td>
                          <td class="bold"><span class="label label-danger">Min: 000</span> | <span class="label label-success">Max: 000</span></td>
                          <td>Nunca</td>
                          <td>
                            <a href="/reset_user_password/{{ jugador.user.id }}/" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Restablecer Contraseña"><i class="fa fa-fw fa-key"></i></a>
                            <a href="/banear_user/{{ jugador.user.id }}" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="top" title="Banear Usuario"><i class="fa fa-fw fa-ban"></i></a>
                          </td>
                        </tr>
                        <tr>
                          <td>12</td>
                          <td class="bold-blue">Carlos</td>
                          <td class="bold">Sucursal_creador </td>
                          <td class="bold">jefe_De_Herencia </td>
                          <td class="bold"><span class="label label-danger">Min: 000</span> | <span class="label label-success">Max: 000</span></td>
                          <td>Nunca</td>
                          <td>
                            <a href="/reset_user_password/{{ jugador.user.id }}/" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Restablecer Contraseña"><i class="fa fa-fw fa-key"></i></a>
                            <a href="/banear_user/{{ jugador.user.id }}" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="top" title="Banear Usuario"><i class="fa fa-fw fa-ban"></i></a>
                          </td>
                        </tr>
                        <tr>
                          <td>12</td>
                          <td class="bold-blue">Carlos</td>
                          <td class="bold">Sucursal_creador </td>
                          <td class="bold">jefe_De_Herencia </td>
                          <td class="bold"><span class="label label-danger">Min: 000</span> | <span class="label label-success">Max: 000</span></td>
                          <td>Nunca</td>
                          <td>
                            <a href="/reset_user_password/{{ jugador.user.id }}/" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Restablecer Contraseña"><i class="fa fa-fw fa-key"></i></a>
                            <a href="/banear_user/{{ jugador.user.id }}" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="top" title="Banear Usuario"><i class="fa fa-fw fa-ban"></i></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /main -->
{% endblock %} {% block extra_js %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#tree').addClass('active');
  });

  //

  //
</script>
{% endblock %}
