{% extends 'admin_template.html' %} {% load static from staticfiles %} {% block content %}
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="widget ">
            <div class="widget-header">
              <h3><i class="fa fa-fw fa-vcard"></i>Listado de Sucursales</h3>
            </div>
            <div class="widget-content">
              <div class="accion-dentro pull-right">
                Puedes crear una nueva <b>Sucursal</b> aquí <i class="fa fa-fw fa-arrow-right"></i><a href="{% url 'crear_sucursales' %}" class="btn btn-large btn-primary">Nueva Sucursales <i class="fa fa-fw fa-vcard"></i></a>
              </div>
              <table class="varias table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>IDs</th>
                    <th>Usuario</th>
                    <th>Moneda</th>
                    <th>Crea Sucursales</th>
                    <th>Crea Taquillas</th>
                    <th>Ultimo Inicio</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody class="center">
                  <tr>
                    <td>12</td>
                    <td class="bold-blue">Carlos</td>
                    <td class="bold">Bolivares(VEF)</td>
                    <td class="bold"><span class="label label-success">SI | Canti: 00</span> / <span class="label label-danger">NO</span></td>
                    <td class="bold"><span class="label label-success">SI | Canti: 00</span> / <span class="label label-danger">NO</span></td>
                    <td>Nunca</td>
                    <td>
                      <a href="/edit_user/{{ user.id }}" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Modificar Usuario"><i class="fa fa-fw fa-edit"></i></a>
                      <a href="/reset_user_password/{{ user.id }}/" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Restablecer Contraseña"><i class="fa fa-fw fa-lock"></i></a>
                      <a href="/banear_user/{{ user.id }}" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="Banear Usuario"><i class="fa fa-fw fa-ban"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td class="bold-blue">Carlos</td>
                    <td class="bold">Bolivares(VEF)</td>
                    <td class="bold"><span class="label label-success">SI | Canti: 00</span> / <span class="label label-danger">NO</span></td>
                    <td class="bold"><span class="label label-success">SI | Canti: 00</span> / <span class="label label-danger">NO</span></td>
                    <td>Nunca</td>
                    <td>
                      <a href="/edit_user/{{ user.id }}" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Modificar Usuario"><i class="fa fa-fw fa-edit"></i></a>
                      <a href="/reset_user_password/{{ user.id }}/" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Restablecer Contraseña"><i class="fa fa-fw fa-lock"></i></a>
                      <a href="/banear_user/{{ user.id }}" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="Banear Usuario"><i class="fa fa-fw fa-ban"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td class="bold-blue">Carlos</td>
                    <td class="bold">Bolivares(VEF)</td>
                    <td class="bold"><span class="label label-success">SI | Canti: 00</span> / <span class="label label-danger">NO</span></td>
                    <td class="bold"><span class="label label-success">SI | Canti: 00</span> / <span class="label label-danger">NO</span></td>
                    <td>Nunca</td>
                    <td>
                      <a href="/edit_user/{{ user.id }}" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Modificar Usuario"><i class="fa fa-fw fa-edit"></i></a>
                      <a href="/reset_user_password/{{ user.id }}/" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Restablecer Contraseña"><i class="fa fa-fw fa-lock"></i></a>
                      <a href="/banear_user/{{ user.id }}" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="Banear Usuario"><i class="fa fa-fw fa-ban"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /main -->
{% endblock %} {% block extra_js %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#sucursales').addClass('active');
  });
</script>
{% endblock %}
