{% extends 'admin_template.html' %} {% load static from staticfiles %} {% block content %}
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="widget ">
            <div class="widget-header">
              <h3><i class="fa fa-fw fa-university"></i>Listado de Taquilla</h3>
            </div>
            <div class="widget-content">
              <div class="accion-dentro pull-right">
                Puedes crear una nueva <b>Taquilla</b> aquí <i class="fa fa-fw fa-arrow-right"></i><a href="{% url 'crear_taquilla' %}" class="btn btn-large btn-primary">Nueva Taquilla <i class="fa fa-fw fa-university"></i></a>
              </div>
              <table class="varias table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>IDs</th>
                    <th>Usuario</th>
                    <th colspan="4">Limites de Apuesta por sorteo</th>
                    <th>Codigo</th>
                    <th>Ultimo Inicio</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody class="center">
                  <tr>
                    <td>12</td>
                    <td class="bold-blue">Carlos</td>
                    <td><span class="label label-warning">Min: 000</span> | <span class="label label-success">Max: 000</span></td>
                    <td class="bold"><span class="label label-info"> Cantidad Animales: 000</span></td>
                    <td class="bold"><span class="label label-info">Apuestas (Ticket): 000</span></td>
                    <td class="bold"><span class="label label-info">Dinero limite: 000</span></td>
                    <td>23dh549i</td>
                    <td>Nunca</td>
                    <td>
                      <a href="/change_token/{{ user.id }}" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="top" title="Actualizar Codigo"><i class="fa fa-fw fa-refresh"></i></a>
                      <a href="/edit_user/{{ user.id }}" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Configurar Taquillas"><i class="fa fa-fw fa-cog"></i></a>
                      <a href="/reset_user_password/{{ user.id }}/" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Restablecer Contraseña"><i class="fa fa-fw fa-lock"></i></a>
                      <a href="/banear_user/{{ user.id }}" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="Banear Usuario"><i class="fa fa-fw fa-ban"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /main -->
{% endblock %} {% block extra_js %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#taquilla').addClass('active');
  });
</script>
{% endblock %}
