{% extends 'admin_template.html' %} {% load static from staticfiles %} {% block content %}
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="widget ">
            <div class="widget-header">
              <h3><i class="fa fa-fw fa-support"></i>Listado de Gestores</h3>
            </div>
            <div class="widget-content">
              <div class="accion-dentro pull-right">
                Puedes crear un nuevo <b>Gestor</b> aquí <i class="fa fa-fw fa-arrow-right"></i><a href="{% url 'crear_gestor' %}" class="btn btn-large btn-primary">Nuevo Gestor <i class="fa fa-fw fa-support"></i></a>
              </div>
              <table class="varias table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>IDs</th>
                    <th>Usuario</th>
                    <th>Ultimo Inicio</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody class="center">
                  <tr>
                    <td>12</td>
                    <td class="bold-blue">Carlos</td>
                    <td>Nunca</td>
                    <td>
                      <a href="/reset_user_password/{{ user.id }}/" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Restablecer Contraseña"><i class="fa fa-fw fa-lock"></i></a>
                      <a href="/banear_user/{{ user.id }}" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="Banear Usuario"><i class="fa fa-fw fa-ban"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td class="bold-blue">Carlos</td>
                    <td>Nunca</td>
                    <td>
                      <a href="/reset_user_password/{{ user.id }}/" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Restablecer Contraseña"><i class="fa fa-fw fa-lock"></i></a>
                      <a href="/banear_user/{{ user.id }}" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="Banear Usuario"><i class="fa fa-fw fa-ban"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td class="bold-blue">Carlos</td>
                    <td>Nunca</td>
                    <td>
                      <a href="/reset_user_password/{{ user.id }}/" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="Restablecer Contraseña"><i class="fa fa-fw fa-lock"></i></a>
                      <a href="/banear_user/{{ user.id }}" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="Banear Usuario"><i class="fa fa-fw fa-ban"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /main -->
{% endblock %} {% block extra_js %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#gestor').addClass('active');
  });
</script>
{% endblock %}
