{% extends 'admin_template.html' %} {% load static from staticfiles %} {% block content %}
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">

        <div class="span6">
          <div class="widget ">
            <div class="widget-header">
              <h3><i class="fa fa-fw fa-bar-chart"></i>Registrar Resultados</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <div class="registrar-resultados">
                <form id="edit-profile" class="form-horizontal">
                  <fieldset>
                    <div class="control-group">
                      <label class="control-label" for="password1">Sorteo</label>
                      <div class="controls">
                        <select class="form-control span4">
                          <<option value="">----</option>
                          <option>Sorteo 1</option>
                          <option>Sorteo 2</option>
                          <option>Sorteo 3</option>
                          <option>Sorteo 4</option>
                          <option>Sorteo 5</option>
                          <option>Sorteo 6</option>
                          <option>Sorteo 7</option>
                          <option>Sorteo 8</option>
                        </select>
                      </div>
                      <!-- /controls -->
                    </div>
                    <!-- /control-group -->

                    <div class="control-group">
                      <label class="control-label" for="password2">Resultado</label>
                      <div class="controls">
                        <select class="form-control span4">
                          <<option value="">----</option>
                          <option value="1">Los 38 Animales o Resultados disponibles</option>
                        </select>
                      </div>
                      <!-- /controls -->
                    </div>
                    <!-- /control-group -->
                    <div class="form-actions">
                      <button type="submit" class="btn btn-primary">Registrar</button>
                      <button type="reset" class="btn btn-danger">Borrar</button>
                    </div>
                    <!-- /form-actions -->
                  </fieldset>
                </form>

              </div>
              <!-- /shortcuts -->
            </div>
            <!-- /widget-content -->
          </div>
          <div class="widget widget-nopad">
            <div class="widget-header">
              <h3><i class="fa fa-fw fa-line-chart"></i> Ultimas incidencias</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content log">
              <ul class="news-items">
                <li>
                  <div><i class="fa fa-fw fa-plus-square"></i> El usuario <a href="#">ramon</a> a cancelado un ticket <span>Hora: 20:05 | </span><span>fecha: 06-07-2017</span></div>
                </li>
                <li>
                  <div><i class="fa fa-fw fa-plus-square"></i> Se ah creadou nuevo usuario <span>Hora: 20:05 | </span><span>fecha: 06-07-2017</span></div>
                </li>
                <li>
                  <div><i class="fa fa-fw fa-plus-square"></i> El usuario <a href="#">esteban</a> a cambiado su contraseña <span>Hora: 20:05 | </span><span>fecha: 06-07-2017</span></div>
                </li>
                <li>
                  <div><i class="fa fa-fw fa-plus-square"></i>La taquila <a href="#">maria</a> a cerrado sus ventas del dia <span>Hora: 20:05 | </span><span>fecha: 06-07-2017</span></div>
                </li>
                <li>
                  <div><i class="fa fa-fw fa-plus-square"></i> Se ah creadou nuevo usuario <span>Hora: 20:05 | </span><span>fecha: 06-07-2017</span></div>
                </li>
                <li>
                  <div><i class="fa fa-fw fa-plus-square"></i> Se ah creadou nuevo usuario <span>Hora: 20:05 | </span><span>fecha: 06-07-2017</span></div>
                </li>
                <li>
                  <div><i class="fa fa-fw fa-plus-square"></i> El usuario <a href="#">ramon</a> a cancelado un ticket <span>Hora: 20:05 | </span><span>fecha: 06-07-2017</span></div>
                </li>
                <li>
                  <div><i class="fa fa-fw fa-plus-square"></i> El usuario <a href="#">ramon</a> a cancelado un ticket <span>Hora: 20:05 | </span><span>fecha: 06-07-2017</span></div>
                </li>
                <li>
                  <div><i class="fa fa-fw fa-plus-square"></i> El usuario <a href="#">ramon</a> a cancelado un ticket <span>Hora: 20:05 | </span><span>fecha: 06-07-2017</span></div>
                </li>
                <li>
                  <div><i class="fa fa-fw fa-plus-square"></i> El usuario <a href="#">ramon</a> a cancelado un ticket <span>Hora: 20:05 | </span><span>fecha: 06-07-2017</span></div>
                </li>

              </ul>
            </div>
            <!-- /widget-content -->
          </div>
          <!-- /widget -->
        </div>
        <!-- /span6 -->
        <div class="span6 ">
          <div class="widget ">
            <div class="widget-header ">
              <h3><i class="fa fa-fw fa-mail-forward "></i>Accesos directos</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content ">
              <div class="shortcuts ">
                <a href="{% url 'crear_sucursales' %}" class="shortcut "><i class="icono fa fa-vcard fa-3x "></i><span class="shortcut-label ">Crear Sucursal</span> </a>
                <a href="{% url 'riesgo' %}" class="shortcut "><i class="icono fa fa-line-chart fa-3x "></i><span class="shortcut-label ">Ver Riesgos</span> </a>
                <a href="{% url 'consulta_ticket' %}" class="shortcut "><i class="icono fa fa-file-o fa-3x "></i><span class="shortcut-label ">Consultar Tickets</span> </a>
                <a href="{% url 'resultados' %}" class="shortcut "><i class="icono fa fa-bar-chart fa-3x "></i> <span class="shortcut-label ">Resultados</span> </a>
                <a href="{% url 'ajustes' %}" class="shortcut "> <i class="icono fa fa-user-circle-o fa-3x "></i><span class="shortcut-label ">Ajustes</span> </a>
                <a href="{% url 'crear_taquilla' %}" class="shortcut "><i class="icono fa fa-bank fa-3x "></i><span class="shortcut-label ">Crear Taquilla</span> </a>
                <a href="{% url 'reportes' %}" class="shortcut "><i class="icono fa fa-list-alt fa-3x "></i> <span class="shortcut-label ">Reportes</span> </a>
                <a href="{% url 'inbox' %}" class="shortcut "> <i class="icono fa fa-envelope fa-3x "></i><span class="shortcut-label ">Inbox</span> </a>
              </div>
              <!-- /shortcuts -->
            </div>
          </div>
          <div class="widget widget-table action-table ">
            <div class="widget-header ">
              <h3><i class="fa fa-th-list fa-fw "></i> Resultado del dia</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content log ">
              <table class="table table-striped table-bordered ">
                <thead>
                  <tr>
                    <th class="td-actions ">Hora</th>
                    <th>Sorteo</th>
                    <th>Resultado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>10:30 am</td>
                    <td class="center ">#123454</td>
                    <td class="td-actions ">Perro - 27</td>
                  </tr>
                  <tr>
                    <td>10:30 am</td>
                    <td class="center ">#123454</td>
                    <td class="td-actions ">Perro - 27</td>
                  </tr>
                  <tr>
                    <td>10:30 am</td>
                    <td class="center ">#123454</td>
                    <td class="td-actions ">Perro - 27</td>
                  </tr>
                  <tr>
                    <td>10:30 am</td>
                    <td class="center ">#123454</td>
                    <td class="td-actions ">Perro - 27</td>
                  </tr>
                  <tr>
                    <td>10:30 am</td>
                    <td class="center ">#123454</td>
                    <td class="td-actions ">Perro - 27</td>
                  </tr>
                  <tr>
                    <td>10:30 am</td>
                    <td class="center ">#123454</td>
                    <td class="td-actions ">Perro - 27</td>
                  </tr>
                  <tr>
                    <td>10:30 am</td>
                    <td class="center ">#123454</td>
                    <td class="td-actions ">Perro - 27</td>
                  </tr>
                  <tr>
                    <td>10:30 am</td>
                    <td class="center ">#123454</td>
                    <td class="td-actions ">Perro - 27</td>
                  </tr>
                  <tr>
                    <td>10:30 am</td>
                    <td class="center ">#123454</td>
                    <td class="td-actions ">Perro - 27</td>
                  </tr>

                </tbody>
              </table>
            </div>
            <!-- /widget-content -->
          </div>
          <!-- /widget -->

          <!-- /widget -->
        </div>
        <!-- /span6 -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /main-inner -->
</div>
{% endblock %} {% block extra_js %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#panel').addClass('active');
  });
</script>
{% endblock %}
