{% extends 'admin_template.html' %} {% load static from staticfiles %} {% block content %}
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span4">
          <div class="widget ">
            <div class="widget-header">
              <h3><i class="fa fa-fw fa-info-circle"></i>Informacion</h3>
            </div>
            <div class="widget-content">
              <h1 class="center bold-blue"><i class="fa fa-fw fa-user-circle fa-3x"></i></h1>
              <hr>
              <p>Usuario: <span class="bold">Carlos</span></p>
              <p>Contraseña: <span class="bold">******</span></p>
              <p>Moneda: <span class="bold">Bolivares(VEF)</span></p>
              <p>Pregunta de Seguridad: <span class="bold">PREGUNTA</span></p>
              <hr>
              <p>¿Puedes Crear taquilla?: <span class="label label-success">SI</span></p>
              <p>¿Puedes Crear Sucursales?: <span class="label label-warning">NO</span></p>
              <p>Jefe Creador: <span class="bold">Mario</span></p>
              <p>Jefe de Herencia: <span class="bold">Admin</span></p>
            </div>
          </div>
        </div>
        <div class="span8">
          <div class="widget ">
            <div class="widget-header ">
              <h3><i class="fa fa-fw fa-user-circle"></i>Ajuste y Configuracion de usuario</h3>
            </div>
            <div class="widget-content ">
              <h3 class="center">Configurar contraseña</h3>
              <hr>
              <form class="form-horizontal">
                <fieldset>
                  <div class="control-group ">
                    <label class="control-label">Contraseña actual</label>
                    <div class="controls form-control">
                      <input type="password" class="span6 input-lg" name="" value="">
                    </div>
                  </div>
                  <div class="control-group ">
                    <label class="control-label">Nueva Contraseña</label>
                    <div class="controls form-control">
                      <input type="password" class="span6 input-lg" name="" value="">
                    </div>
                  </div>
                  <div class="control-group ">
                    <label class="control-label">Repetir Contraseña</label>
                    <div class="controls form-control">
                      <input type="password" class="span6 input-lg" name="" value="">
                    </div>
                  </div>
                  <div class="form-actions center">
                    <button type="submit " class="btn btn-large btn-primary ">Actualizar</button>
                    <button type="submit " class="btn btn-large btn-danger ">Borrar</button>
                  </div>
                </fieldset>
              </form>
              <hr>
              <h3 class="center">Configurar pregunta de seguridad</h3>
              <hr>
              <form class="form-horizontal">
                <fieldset>
                  <div class="control-group ">
                    <label class="control-label">Seleccionar pregunta</label>
                    <div class="controls ">
                      <select class="form-control select2" style="width: 100%; ">
                      <option selected="selected ">--Pregunta--</option>
                      <option>Preguntas</option>
                      <option>Preguntas</option>
                      <option>Preguntas</option>
                      <option>Preguntas</option>
                      <option>Preguntas</option>
                    </select>
                    </div>
                  </div>
                  <div class="control-group ">
                    <label class="control-label">Nueva Contraseña</label>
                    <div class="controls form-control">
                      <input type="password" class="span6 input-lg" name="" value="">
                    </div>
                  </div>
                  <div class="form-actions center">
                    <button type="submit " class="btn btn-large btn-primary ">Aceptar</button>
                    <button type="submit " class="btn btn-large btn-danger ">Borrar</button>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
