{% extends 'admin_template.html' %} {% load static from staticfiles %} {% block content %}
<div class="main">
  <div class="main-inner">
    <div class="container-fluid">
      <div class="row">
        <div class="span3">
          <div class="widget ">
            <div class="widget-header">
              <h3><i class="fa fa-fw fa-cogs"></i>Opciones de busqueda</h3>
            </div>
            <div class="widget-content">
              <form class="form">
                <fieldset>
                  <div class="control-group">
                    <div class="controls">
                      <div class="input-group">
                        <span class="input-group-addon">
                        <input type="radio" id="tipo_usuario" name="tipo_usuario">
                      </span> Taquillas
                      </div>
                    </div>
                    <div class="controls">
                      <div class="input-group">
                        <span class="input-group-addon">
                        <input type="radio" id="tipo_usuario" name="tipo_usuario">
                      </span> Sucursales
                      </div>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls ">
                      <button type="button" class="btn btn-primary" id="daterange-btn"><span><i class="fa fa-calendar "></i> Rango De Fecha</span><i class="fa fa-caret-down "></i></button>
                    </div>
                  </div>
                  <div class="control-group ">
                    <div class="controls ">
                      <select class="form-control select2 " style="width: 100%; ">
                      <option selected="selected ">----</option>
                      <option>taquillas</option>
                      <option>taquillas</option>
                      <option>taquillas</option>
                      <option>taquillas</option>
                    </select>
                    </div>
                  </div>
                  <div class="form-actions center">
                    <button type="submit " class="btn btn-large btn-success ">Consultar</button>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <div class="span10 ">
          <div class="widget ">
            <div class="widget-header ">
              <h3><i class="fa fa-fw fa-list-alt "></i>Resultados de busqueda - Reportes</h3>
            </div>
            <div class="widget-content ">
              <div class="accion-dentro pull-right">
                <a href="{% url 'riesgo' %}" class="btn btn-large btn-danger">Ver reportes de Riesgo <i class="fa fa-fw fa-list-alt"></i></a>
              </div>
              <table class="varias table table-bordered table-striped">
                <thead>
                  <tr>
                    <th colspan="3">Totales</th>
                    <th>TOTAL_APUSTAS</th>
                    <th>TOTAL_GANAR</th>
                    <th>TOTAL_PROFIT</th>
                  </tr>
                  <tr>
                    <th>IDs</th>
                    <th>Usuario</th>
                    <th>operacion</th>
                    <th>Apuesta</th>
                    <th>Ganar</th>
                    <th>Profit</th>
                  </tr>
                </thead>
                <tbody class="center">
                  <tr>
                    <td>12</td>
                    <td class="bold-blue">Carlos</td>
                    <td>345676</td>
                    <td class="bold">100,00</td>
                    <td class="bold">3.000,00</td>
                    <td class="bold-green">3.000,00</td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td class="bold-blue">Carlos</td>
                    <td>345676</td>
                    <td class="bold">100,00</td>
                    <td class="bold">3.000,00</td>
                    <td class="bold-green">3.000,00</td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td class="bold-blue">Carlos</td>
                    <td>345676</td>
                    <td class="bold">100,00</td>
                    <td class="bold">3.000,00</td>
                    <td class="bold-green">3.000,00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /main -->
{% endblock %} {% block extra_js %}
<script type="text/javascript ">
  $(document).ready(function() {
    $('#reportes').addClass('active');
  });
</script>
{% endblock %}
