{% extends 'admin_template.html' %} {% load static from staticfiles %} {% block content %}
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="widget ">
            <div class=" pull-right">
              <a href="{% url 'reportes' %}" class="btn btn-large btn-success">Ver reportes generales <i class="fa fa-fw fa-list-alt"></i></a>
            </div>
            <div class="tabbable">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#suc" data-toggle="tab">Sucursales</a>
                </li>
                <li><a href="#taq" data-toggle="tab">Taquillas</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="suc">
                  <div class="widget-header">
                    <h3><i class="fa fa-fw fa-line-chart"></i>Reportes de Riesgo por agente</h3>
                  </div>
                  <div class="widget-content">
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr class="font-2em">
                          <td colspan="7">Agente: Henry</td>
                        </tr>
                        <tr>
                          <th>IDs</th>
                          <th>Taquilla</th>
                          <th>Tickets</th>
                          <th>Fecha</th>
                          <th>Descripcion</th>
                          <th>Apuesta</th>
                          <th>Ganar</th>
                        </tr>
                      </thead>
                      <tbody class="center">
                        <tr>
                          <td>12</td>
                          <td class="bold-blue">Carlos</td>
                          <td>345676</td>
                          <td>10/07/2017 10:04:04 AM</td>
                          <td class="bold-rosa">Perro-27, Gallo-32, Mono-14, Caiman, 12</td>
                          <td class="bold-blue">400,00</td>
                          <td class="bold-green">3.000,00</td>
                        </tr>
                        <tr>
                          <td>12</td>
                          <td class="bold-blue">Mario</td>
                          <td>765456</td>
                          <td>10/07/2017 10:10:04 AM</td>
                          <td class="bold-rosa">Perro-27, Gallo-32</td>
                          <td class="bold-blue">200,00</td>
                          <td class="bold-green">3.000,00</td>
                        </tr>
                      </tbody>
                      <tfooter>
                        <tr>
                          <th colspan="5">Total de Agente</th>
                          <th>600,00</th>
                          <th>6.000,00</th>
                        </tr>
                      </tfooter>
                    </table>
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr class="font-2em">
                          <td colspan="7">Agente: Ramon</td>
                        </tr>
                        <tr>
                          <th>IDs</th>
                          <th>Taquilla</th>
                          <th>Tickets</th>
                          <th>Fecha</th>
                          <th>Descripcion</th>
                          <th>Apuesta</th>
                          <th>Ganar</th>
                        </tr>
                      </thead>
                      <tbody class="center">
                        <tr>
                          <td>12</td>
                          <td class="bold-blue">Carlos</td>
                          <td>345676</td>
                          <td>10/07/2017 10:04:04 AM</td>
                          <td class="bold-rosa">Perro-27, Gallo-32, Mono-14, Caiman, 12</td>
                          <td class="bold-blue">400,00</td>
                          <td class="bold-green">3.000,00</td>
                        </tr>
                        <tr>
                          <td>12</td>
                          <td class="bold-blue">Mario</td>
                          <td>765456</td>
                          <td>10/07/2017 10:10:04 AM</td>
                          <td class="bold-rosa">Perro-27, Gallo-32</td>
                          <td class="bold-blue">200,00</td>
                          <td class="bold-green">3.000,00</td>
                        </tr>
                      </tbody>
                      <tfooter>
                        <tr>
                          <th colspan="5">Total de Agente</th>
                          <th>600,00</th>
                          <th>6.000,00</th>
                        </tr>
                      </tfooter>
                    </table>
                    <table class="table table-bordered table-striped">
                      <tfooter>
                        <tr>
                          <th colspan="5">Total General</th>
                          <th>1.200,00</th>
                          <th>12.000,00</th>
                        </tr>
                      </tfooter>
                    </table>
                  </div>
                </div>
                <div class="tab-pane" id="taq">
                  <div class="widget-header">
                    <h3><i class="fa fa-fw fa-line-chart"></i>Reportes de Riesgo por Taquilla</h3>
                  </div>
                  <div class="widget-content">
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr class="font-2em">
                          <td colspan="7">Taquilla: Omaira</td>
                        </tr>
                        <tr>
                          <th>IDs</th>
                          <th>Taquilla</th>
                          <th>Tickets</th>
                          <th>Fecha</th>
                          <th>Descripcion</th>
                          <th>Apuesta</th>
                          <th>Ganar</th>
                        </tr>
                      </thead>
                      <tbody class="center">
                        <tr>
                          <td>12</td>
                          <td class="bold-blue">TaquillaUno</td>
                          <td>345676</td>
                          <td>10/07/2017 10:04:04 AM</td>
                          <td class="bold-rosa">Perro-27, Gallo-32, Mono-14, Caiman, 12</td>
                          <td class="bold-blue">400,00</td>
                          <td class="bold-green">3.000,00</td>
                        </tr>
                        <tr>
                          <td>12</td>
                          <td class="bold-blue">TaquillaDos</td>
                          <td>345676</td>
                          <td>10/07/2017 10:04:04 AM</td>
                          <td class="bold-rosa">Perro-27, Gallo-32, Mono-14, Caiman, 12</td>
                          <td class="bold-blue">400,00</td>
                          <td class="bold-green">3.000,00</td>
                        </tr>
                      </tbody>
                      <tfooter>
                        <tr>
                          <th colspan="5">Total de Taquilla</th>
                          <th>600,00</th>
                          <th>6.000,00</th>
                        </tr>
                      </tfooter>
                    </table>
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr class="font-2em">
                          <td colspan="7">Taquilla: Ramon</td>
                        </tr>
                        <tr>
                          <th>IDs</th>
                          <th>Taquilla</th>
                          <th>Tickets</th>
                          <th>Fecha</th>
                          <th>Descripcion</th>
                          <th>Apuesta</th>
                          <th>Ganar</th>
                        </tr>
                      </thead>
                      <tbody class="center">
                        <tr>
                          <td>12</td>
                          <td class="bold-blue">TaquillaTres</td>
                          <td>345676</td>
                          <td>10/07/2017 10:04:04 AM</td>
                          <td class="bold-rosa">Perro-27, Gallo-32, Mono-14, Caiman, 12</td>
                          <td class="bold-blue">400,00</td>
                          <td class="bold-green">3.000,00</td>
                        </tr>
                        <tr>
                          <td>12</td>
                          <td class="bold-blue">TaquillaCuatro</td>
                          <td>345676</td>
                          <td>10/07/2017 10:04:04 AM</td>
                          <td class="bold-rosa">Perro-27, Gallo-32, Mono-14, Caiman, 12</td>
                          <td class="bold-blue">400,00</td>
                          <td class="bold-green">3.000,00</td>
                        </tr>
                      </tbody>
                      <tfooter>
                        <tr>
                          <th colspan="5">Total de Agente</th>
                          <th>600,00</th>
                          <th>6.000,00</th>
                        </tr>
                      </tfooter>
                    </table>
                    <table class="table table-bordered table-striped">
                      <tfooter>
                        <tr>
                          <th colspan="5">Total General</th>
                          <th>1.200,00</th>
                          <th>12.000,00</th>
                        </tr>
                      </tfooter>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /main -->
{% endblock %} {% block extra_js %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#reportes').addClass('active');
  });
</script>
{% endblock %}
